<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="chat.dao.face.chatDao">

<insert id="saveMsg" parameterType="chat.dto.ChatDto">

	insert into chatlog (chat_no, userid, chat_log)
	values (chat_no_nextval, #{userid}, #{chatLog})

</insert>
</mapper>